# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.env
*.so

# Rust
target/
Cargo.lock

# Skaal
plan.skaal.lock
*.plan.lock
artifacts/

# Tools
.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# uv
uv.lock